.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 220px;
  text-align: center;
}

.product-card img {
  width: 100%;
}

button {
  background: #0a4cff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.order-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
}

.payment-info {
  margin-top: 30px;
  padding: 20px;
  background: #f4f6ff;
}

.main-img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.thumbs {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-bottom: 10px;
}

.thumbs img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ccc;
}

.thumbs img:hover {
  border-color: #0a4cff;
}
